[submodule "6-pepeclub"]
	path = 6-pepeclub
	url = git@github.com:spbu-coding-2024/6-pepeclub.git
[submodule "6-K0tB0ris"]
	path = 6-K0tB0ris
	url = git@github.com:spbu-coding-2024/6-K0tB0ris.git
[submodule "6-vvmaksim"]
	path = 6-vvmaksim
	url = git@github.com:spbu-coding-2024/6-vvmaksim.git
[submodule "6-MaksimGSI"]
	path = 6-MaksimGSI
	url = git@github.com:spbu-coding-2024/6-MaksimGSI.git
[submodule "6-AlexandrGorbunov564"]
	path = 6-AlexandrGorbunov564
	url = git@github.com:spbu-coding-2024/6-AlexandrGorbunov564.git
[submodule "6-Stepiiiiiiik"]
	path = 6-Stepiiiiiiik
	url = git@github.com:spbu-coding-2024/6-Stepiiiiiiik.git
[submodule "6-Ganesha1967"]
	path = 6-Ganesha1967
	url = git@github.com:spbu-coding-2024/6-Ganesha1967.git
[submodule "6-epishkin06"]
	path = 6-epishkin06
	url = git@github.com:spbu-coding-2024/6-epishkin06.git
[submodule "6-ilq1"]
	path = 6-ilq1
	url = git@github.com:spbu-coding-2024/6-ilq1.git
[submodule "6-NIcolaiKl"]
	path = 6-NIcolaiKl
	url = git@github.com:spbu-coding-2024/6-NIcolaiKl.git
[submodule "6-pechenb"]
	path = 6-pechenb
	url = git@github.com:spbu-coding-2024/6-pechenb.git
[submodule "6-fUS1ONd"]
	path = 6-fUS1ONd
	url = git@github.com:spbu-coding-2024/6-fUS1ONd.git
[submodule "6-ilyamaltsev05"]
	path = 6-ilyamaltsev05
	url = git@github.com:spbu-coding-2024/6-ilyamaltsev05.git
[submodule "6-RomanMaltsev"]
	path = 6-RomanMaltsev
	url = git@github.com:spbu-coding-2024/6-RomanMaltsev.git
